<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtworks.youthzone"
    android:installLocation="internalOnly"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <!--
        GCM permission to ensure that only this application can
        receive the messages and registration result. This must be of
        the format <app-package-name>.C2D_MESSAGE for it to work.
    -->
    <permission
        android:name="com.thoughtworks.youthzone.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.thoughtworks.youthzone.C2D_MESSAGE" />

    <application
        android:name=".YouthZoneApp"
        android:allowBackup="true"
        android:icon="@drawable/onside_app_logo"
        android:label="@string/app_name"
        android:manageSpaceActivity="com.salesforce.androidsdk.ui.ManageSpaceActivity"
        android:theme="@android:style/Theme.DeviceDefault.Light" >

        <!-- Launcher screen -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <!-- android:theme="@android:style/Theme.NoTitleBar.Fullscreen" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PickProjectActivity"
            android:label="@string/title_activity_pick_project"
            android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thoughtworks.youthzone.MainActivity" />
        </activity>
        <activity
            android:name=".PickMemberActivity"
            android:label="@string/title_activity_pick_member"
            android:screenOrientation="portrait"
            android:parentActivityName=".PickProjectActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thoughtworks.youthzone.PickProjectActivity" />
        </activity>
        <activity
            android:name=".SelectEvaluationActivity"
            android:label="@string/title_activity_select_evaluation"
            android:screenOrientation="portrait"
            android:parentActivityName=".PickMemberActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thoughtworks.youthzone.PickMemberActivity" />
        </activity>
        <activity
            android:name=".PickOutcomeActivity"
            android:label="@string/title_activity_pick_outcome"
            android:screenOrientation="portrait"
            android:parentActivityName=".SelectEvaluationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thoughtworks.youthzone.SelectEvaluationActivity" />
        </activity>
        <activity
            android:name=".QuestionActivity"
            android:label="@string/title_activity_question"
            android:screenOrientation="portrait"
            android:parentActivityName=".PickOutcomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thoughtworks.youthzone.PickOutcomeActivity" />
        </activity>
        <activity
            android:name=".PickInProgressEvaluationActivity"
            android:label="@string/title_activity_pick_in_progress_evaluation"
            android:screenOrientation="portrait"
            android:parentActivityName=".SelectEvaluationActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.thoughtworks.youthzone.SelectEvaluationActivity" />
        </activity>
        <activity
            android:name=".PrivateCommentActivity"
            android:label="@string/title_activity_private_comment"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".MemberCommentActivity"
            android:label="@string/title_activity_member_comment"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
